@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply text-xl hover:opacity-70;
  }

  .btn {
    @apply bg-gradient-to-tr from-cyan-500 to-blue-500 hover:bg-gradient-to-bl text-white font-bold py-2 px-4 rounded;
  }

  .icon {
    @apply text-blue-500  bg-blue-100 rounded-full p-3;
  }
}

html {
  overflow-x: hidden;
  min-width: fit-content;

  scroll-behavior: smooth;
}

.fade {
  animation: fade 0.7s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
