.background {
  background-image: url("../img/hero_image.jpg");
  background-size: cover;
  background-position: center;
  background-position-x: -30px;
  width: 101vw;
  height: 90vh;
}

@media (max-width: 768px) {
  .background {
    height: 100vh;
  }
}
